.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
	color: #fdfffd;
	font-size: 15px;
	text-transform: uppercase;
	transition-duration: .3s;
	margin-left: 14px;
}
.navbar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	
}
.fixed{
	position: fixed;
	
	background-color: rgba(0, 0, 0, 0.781);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
	padding-right: .5rem;
	padding-left: .5rem;
	color: rgb(247, 130, 130);
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(119, 240, 119) ;
	margin-left: 14px;
}
/* <----- slider css here ----> */
.slider1{
	position: relative;
}
.slider1-item img{
	height: 100vh;
	width: 100%;
	object-position: center;
}

.overflow{
	margin: 0 auto;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.747);
	left: 0;
	width: 100%;
	height: 100vh;
	bottom: 0;
	z-index: 999;
}
.overflow-content{
	text-align: center;
	padding-top: 20%;

}
.overflow-content h1 {
	color: #fff;
	font-size: 39px;
	padding-top: 30px;
	color: greenyellow;
}
.overflow-content p {
	color: #fff;
	padding-top: 10px;
	padding-bottom: 50px;
	max-width: 500px;
	margin: 0 auto;
	font-size: 20px;
}
.overflow-content a {
	border: 1px solid red;
	padding: 10px 25px;

	color: #fff;
	text-decoration: none;
	border-radius: 10px;
	background: rgb(187, 68, 68);
	border: none;
	font-size: 30px;
}


.slick-dots {
	display: flex;
	list-style-type: none;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	
}
.slcik-dots li{
	
	margin: 0 5px;
	border-radius: 175px;
	-webkit-border-radius: 175px;
	-moz-border-radius: 175px;
	-ms-border-radius: 175px;
	-o-border-radius: 175px;
}
.slick-dots button {
	color: transparent;
	border-radius: 176px;
	margin: 0 5px;
	width: 5px;
	height: 12px;
	border: none;
	background-color: green;
	/* background: red; */
	/* border: 3px solid green; */
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
}
.slick-active{
	background: green;
	z-index: 99999;
	color: #fff;
	width: 22px;
	height: 22px;
	border-radius: 175px;
	-webkit-border-radius: 175px;
	-moz-border-radius: 175px;
	-ms-border-radius: 175px;
	-o-border-radius: 175px;
}



/* service css here  */
